# Database (Postgres)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gestao_ativos
POSTGRES_PORT=5432

# Alterado de '@db:5432' para '@localhost:5432' para funcionar na sua máquina física
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/gestao_ativos?schema=public

# Server
# Aproveite para mudar o segredo aqui para o servidor não reclamar!
JWT_SECRET=uma_chave_super_secreta_e_segura_para_a_esposende_123!
SERVER_PORT=3333

# Client
CLIENT_PORT=5173